// @file
// This is an ABSTRACT file included anywhere.
// It MUST NOT produce any css - only variables or mixings here.



$vertical-space: 1rem;
$horizontal-space: 1rem;

$header-height: 4.375rem; // 70px
$footer-height: 1.875rem; // 30px

$panel-border-radius: .4rem;
